## Additional Data Analysis
Neha Uppin

In [1]:
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
# original Amazon books dataset
df1 = pd.read_csv('book-dataset-analysis-/Amazon-books.csv')

df1.head()

,Title,Rank,Reviews,Review Count,Price,Genre,Manufacturer,Brand,Author,Number of Pages
0,"Fourth Wing (The Empyrean, 1)",1,4.8,135916,18.69,Fantasy,Entangled: Red Tower Books,Macmillan,Rebecca Yarros,528.0
1,Atomic Habits: An Easy & Proven Way to Build G...,2,4.8,120356,12.50,Personal Transformation,Avery,Avery,James Clear,320.0
2,"Iron Flame (The Empyrean, 2)",3,4.7,79851,14.78,Epic,Entangled: Red Tower Books,Kiligry,Rebecca Yarros,640.0
3,"Dinner Tonight: 100 Simple, Healthy Recipes fo...",4,4.1,6,26.00,Natural Foods,William Morrow Cookbooks,NaN,Alex Snodgrass,256.0
4,Oath and Honor: A Memoir and a Warning,5,4.8,3536,21.49,Political,"Little, Brown and Company",NaN,Liz Cheney,384.0

In [3]:
# new dataset to join with above
df2 = pd.read_csv('book-dataset-analysis-/BookAwards2023.csv')

df2.head()

,source_URL,Readers Choice Votes,Readers Choice Category,Title,Author,Total Avg Rating,Number of Ratings,Number of Reviews,Number of Pages,Edition,Book Description,First Published date,Kindle Version and Price,Kindle Price,About the Author
0,https://www.goodreads.com/book/show/62047984-y...,200722,Fiction,Yellowface,R.F. Kuang,3.87,"252,189","37,032",336,Hardcover,Athena Liu is a literary darling and June Hayw...,25-May-23,Kindle $14.99,14.99,"Rebecca F. Kuang is a Marshall Scholar, transl..."
1,https://www.goodreads.com/book/show/61771675-h...,60171,Fiction,Hello Beautiful,Ann Napolitano,4.20,"200,304","19,288",416,Kindle Edition,An emotionally layered and engrossing story of...,14-Mar-23,Kindle $2.99,2.99,"Ann Napolitano’s new novel, Hello Beautiful, h..."
2,https://www.goodreads.com/book/show/62926992-t...,57702,Fiction,The Wishing Game,Meg Shaffer,4.19,"62,142","10,594",304,Hardcover,Make a wish. . . .Lucy Hart knows better than ...,30-May-23,Kindle $2.99,2.99,Meg Shaffer is a film student in TV and Screen...
3,https://www.goodreads.com/book/show/63241104-t...,53470,Fiction,Tom Lake,Ann Patchett,4.13,"127,318","16,108",309,Hardcover,This is a story about Peter Duke who went on t...,1-Aug-23,Kindle $15.99,15.99,"Patchett was born in Los Angeles, California. ..."
4,https://www.goodreads.com/book/show/62873996-t...,45859,Fiction,The Five-Star Weekend,Elin Hilderbrand,4.11,"116,619","8,141",384,Hardcover,From the #1 New York Times bestselling author ...,13-Jun-23,Kindle $14.99,14.99,Elin Hilderbrand lives on Nantucket with her h...

### Author Name Standardization
Before a join is performed, a function is created to do some basic cleaning on the 'Author' column of both datasets. This function does some basic name standarization such as handling missing values, converts the names to lowercase and removes any leading or trailing spaces.

#### Application
This cleaning function was applied to both datasets, creating a new 'Author_cleaned' column. This will be used as the merge key. The intention is to increase the likelihood of successful matches between the dataframes.

In [4]:
def clean_author(author):
    """
    Clean author names for matching 
    """
    if pd.isna(author):
        return author
    author = str(author).lower().strip()
    ## remove extra spaces 
    author = ' '.join(author.split())
    return author

## create new columns with authors name cleaned 
df1['Author_cleaned'] = df1['Author'].apply(clean_author)
df2['Author_cleaned'] = df2['Author'].apply(clean_author)

### Joining the Dataframes 
The Amazon and Goodreads datasets were merged using a **left join** on the `Author_cleaned` column. 

#### Why Left Join?
The intention was to retain all of the 2023 Amazon bestselling books in my analysis, regardless of what appears in the Goodreads dataset. Since the project began with the Amazon dataset, it was considered appropriate to retain this as the primary data source. Therefore, using a left join would preserve the primary data source and can be used to analyze books that appear in the Goodreads data.

In [11]:
# merge on Authour_cleaned
merged_df = pd.merge(df1, df2, on='Author_cleaned', how='left', 
                     suffixes=('_amazon', '_goodreads'), indicator=True)

merged_df.head()

,Title_amazon,Rank,Reviews,Review Count,Price,Genre,Manufacturer,Brand,Author_amazon,Number of Pages_amazon,...,Number of Ratings,Number of Reviews,Number of Pages_goodreads,Edition,Book Description,First Published date,Kindle Version and Price,Kindle Price,About the Author,_merge
0,"Fourth Wing (The Empyrean, 1)",1,4.8,135916,18.69,Fantasy,Entangled: Red Tower Books,Macmillan,Rebecca Yarros,528.0,...,"61,109","5,158",348.0,Kindle Edition,"When Izzy Astor gets on a plane to go home, sh...",1-Aug-23,Kindle Unlimited $0.00,0.00,Rebecca Yarros is a hopeless romantic and coff...,both
1,"Fourth Wing (The Empyrean, 1)",1,4.8,135916,18.69,Fantasy,Entangled: Red Tower Books,Macmillan,Rebecca Yarros,528.0,...,"930,928","141,668",500.0,Hardcover,Enter the brutal and elite world of a war coll...,2-May-23,Kindle $14.99,14.99,Rebecca Yarros is a hopeless romantic and coff...,both
2,Atomic Habits: An Easy & Proven Way to Build G...,2,4.8,120356,12.50,Personal Transformation,Avery,Avery,James Clear,320.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
3,"Iron Flame (The Empyrean, 2)",3,4.7,79851,14.78,Epic,Entangled: Red Tower Books,Kiligry,Rebecca Yarros,640.0,...,"61,109","5,158",348.0,Kindle Edition,"When Izzy Astor gets on a plane to go home, sh...",1-Aug-23,Kindle Unlimited $0.00,0.00,Rebecca Yarros is a hopeless romantic and coff...,both
4,"Iron Flame (The Empyrean, 2)",3,4.7,79851,14.78,Epic,Entangled: Red Tower Books,Kiligry,Rebecca Yarros,640.0,...,"930,928","141,668",500.0,Hardcover,Enter the brutal and elite world of a war coll...,2-May-23,Kindle $14.99,14.99,Rebecca Yarros is a hopeless romantic and coff...,both

In [12]:
# export to csv
merged_df.to_csv('merged_df', index=False)

### Inspect `merged_df`

In [6]:
# stats for merged_df
display(merged_df.describe(include='all'))

,Title_amazon,Rank,Reviews,Review Count,Price,Genre,Manufacturer,Brand,Author_amazon,Number of Pages_amazon,...,Number of Ratings,Number of Reviews,Number of Pages_goodreads,Edition,Book Description,First Published date,Kindle Version and Price,Kindle Price,About the Author,_merge
count,4910,4910.000000,4910.000000,4910.000000,4910.000000,4910,4910,3163,4910,4838.000000,...,363,363,363.000000,363,363,363,363,363.000000,346,4910
unique,4758,NaN,NaN,NaN,NaN,907,972,758,2901,NaN,...,117,115,NaN,3,116,56,16,NaN,98,2
top,A Kingdom of Flesh and Fire,NaN,NaN,NaN,NaN,Fantasy,Independently published,Scholastic,Calendars Workman,NaN,...,"321,845","8,995",NaN,Hardcover,It's hard to find an employer who doesn't ask ...,29-Aug-23,Kindle $14.99,NaN,Hey Guys! Please note: I don't send out ARCs f...,left_only
freq,3,NaN,NaN,NaN,NaN,182,355,98,40,NaN,...,15,16,NaN,211,15,31,115,NaN,36,4547
mean,NaN,2530.450916,4.659898,13055.074949,13.112868,NaN,NaN,NaN,NaN,349.973129,...,NaN,NaN,438.898072,NaN,NaN,NaN,NaN,9.211267,NaN,NaN
std,NaN,1500.056423,0.225830,29024.341906,10.201370,NaN,NaN,NaN,NaN,416.203785,...,NaN,NaN,120.362152,NaN,NaN,NaN,NaN,6.275226,NaN,NaN
min,NaN,1.000000,1.000000,1.000000,0.150000,NaN,NaN,NaN,NaN,1.000000,...,NaN,NaN,194.000000,NaN,NaN,NaN,NaN,0.000000,NaN,NaN
25%,NaN,1240.500000,4.600000,958.750000,7.490000,NaN,NaN,NaN,NaN,128.000000,...,NaN,NaN,358.000000,NaN,NaN,NaN,NaN,0.000000,NaN,NaN
50%,NaN,2495.500000,4.700000,4105.000000,11.140000,NaN,NaN,NaN,NaN,283.000000,...,NaN,NaN,415.000000,NaN,NaN,NaN,NaN,11.990000,NaN,NaN
75%,NaN,3760.750000,4.800000,12515.500000,15.770000,NaN,NaN,NaN,NaN,416.000000,...,NaN,NaN,480.500000,NaN,NaN,NaN,NaN,14.990000,NaN,NaN
max,NaN,15176.000000,5.000000,621499.000000,199.990000,NaN,NaN,NaN,NaN,5280.000000,...,NaN,NaN,868.000000,NaN,NaN,NaN,NaN,16.990000,NaN,NaN

### NA Values Analysis
After merging the datasets, NA (missing) values were created in the columns from the Goodreads dataset where no author match was found. The code below shows the count of NA values per column and the NA percentage. 

NA values appear in the Goodreads columns for books where:
- The author name from the Amazon dataset did not have a matching author in the Goodreads data
- The author may exist on Goodreads but under a different name
- Many of the columns in the Amazon data do not exist in the Goodreads dataset

In [7]:
# summary df with NA stats
na_summary = pd.DataFrame({
    'Column': merged_df.columns,
    'NA_Count': merged_df.isna().sum(),
    'NA_Percentage': round(merged_df.isna().sum() / len(merged_df) * 100, 2)
})

na_summary

                                              Column  NA_Count  NA_Percentage
Title_amazon                            Title_amazon         0           0.00
Rank                                            Rank         0           0.00
Reviews                                      Reviews         0           0.00
Review Count                            Review Count         0           0.00
Price                                          Price         0           0.00
Genre                                          Genre         0           0.00
Manufacturer                            Manufacturer         0           0.00
Brand                                          Brand      1747          35.58
Author_amazon                          Author_amazon         0           0.00
Number of Pages_amazon        Number of Pages_amazon        72           1.47
Author_cleaned                        Author_cleaned         0           0.00
source_URL                                source_URL      4547          92.61
Readers Choice Votes            Readers Choice Votes      4547          92.61
Readers Choice Category      Readers Choice Category      4547          92.61
Title_goodreads                      Title_goodreads      4547          92.61
Author_goodreads                    Author_goodreads      4547          92.61
Total Avg Rating                    Total Avg Rating      4547          92.61
Number of Ratings                  Number of Ratings      4547          92.61
Number of Reviews                  Number of Reviews      4547          92.61
Number of Pages_goodreads  Number of Pages_goodreads      4547          92.61
Edition                                      Edition      4547          92.61
Book Description                    Book Description      4547          92.61
First Published date            First Published date      4547          92.61
Kindle Version and Price    Kindle Version and Price      4547          92.61
Kindle Price                            Kindle Price      4547          92.61
About the Author                    About the Author      4564          92.95
_merge                                        _merge         0           0.00

In [8]:
# created summary of merge_df
summary_data = {
    'Metric': [
        'Total Amazon Books',
        'Books with Matches', 
        'Books without Matches',
        'Match Rate (%)'],
    'Value': [
        len(merged_df), # total amazon books
        (merged_df['_merge'] == 'both').sum(), # with matches
        (merged_df['_merge'] == 'left_only').sum(), # without matches
        round((merged_df['_merge'] == 'both').sum() / len(merged_df) * 100, 2)]} # match rate


summary_df = pd.DataFrame(summary_data)
summary_df

                  Metric    Value
0     Total Amazon Books  4910.00
1     Books with Matches   363.00
2  Books without Matches  4547.00
3         Match Rate (%)     7.39